---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Driver from "../components/Driver.astro";
import Broker from "../components/Broker.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo_nobg.png";
---

<Layout title="About - Aravan Cargo">
  <div>
    <header
      class="max-w-[1172px] px-4 mx-auto h-[100px] w-full flex items-center justify-between"
    >
    <a href="/"><Image src={logo} alt="logo" class="h-[80px] w-auto" /></a>
      <i class="fa-solid fa-bars max-[800px]:block hidden text-3xl text-gray-700 mr-4 cursor-pointer hover:text-blue-500 duration-150"></i>
      <nav class="duration-300 header_nav flex-1 max-[800px]:fixed max-[800px]:right-[800px]  max-[800px]:z-[2000000001] max-[800px]:top-0 max-[800px]:backdrop-blur-sm max-[800px]:w-full max-[800px]:drop-shadow-sm max-[800px]:h-full">
        <ul class="duration-300 flex w-full justify-end max-[800px]:relative max-[800px]:pt-10 max-[800px]:left-[-300px] max-[800px]:flex-col max-[800px]:w-[300px] max-[800px]:bg-blue-50 max-[800px]:h-full max-[800px]:justify-start">
          <li class="max-[800px]:after:content-none cursor-pointer ml-8 max-[800px]:mb-4 text-xl text-gray-700 font-body duration-150 hover:text-blue-500 relative after:content-* after:absolute after:-bottom-1 after:left-0 after:w-0 after:duration-300 after:h-[2px] after:bg-blue-500 hover:after:w-full"><a href="/about-us/"> About us</a></li>
          <li class="max-[800px]:after:content-none cursor-pointer ml-8 max-[800px]:mb-4 text-xl text-gray-700 font-body duration-150 hover:text-blue-500 relative after:content-* after:absolute after:-bottom-1 after:left-0 after:w-0 after:duration-300 after:h-[2px] after:bg-blue-500 hover:after:w-full"><a href="/contact-us/">Contact us</a></li>
        </ul>
      </nav>
    </header>
    <About />
    <Driver />
    <Broker />
    <Footer />
  </div>
</Layout>

<style is:global>
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
</style>
