---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Logistic">
  <main class="h-[10000px]">
    <header class="absolute top-0 left-0 h-[100px] w-full bg-white text-center">
      BRAND
    </header>
    <Hero />
    <div id="gsap_1"></div>
    <section id="about" class="text-center mt-20">
      <div id="gsap_2" class="opacity-0">
        <h2 class="text-3xl font-title">About Us</h2>
        <p class="text-lg font-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          recusandae maiores, cupiditate facilis voluptate repellendus!
        </p>
      </div>
    </section>
  </main>
</Layout>
