---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
---

<Layout title="Logistic">
  <div>
    <header class="absolute top-0 left-0 h-[100px] w-full bg-white text-center">
      BRAND
    </header>
    <Hero />
    <div id="gsap_1"></div>
    <About />
    <Services />
    <footer class="h-[100px] bg-blue-50">asdfkngh</footer>
  </div>
</Layout>
