---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Driver from "../components/Driver.astro";
import Services from "../components/Services.astro";
import Faqs from "../components/Faqs.astro";
import Contact from "../components/Contact.astro";
import Stats from "../components/Stats.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo_nobg.png";
---

<Layout title="Logistic">
  <div>
    <header
      class="backdrop-blur-sm absolute top-0 left-0 h-[100px] w-full flex items-center justify-center"
    >
      <Image src={logo} alt="logo" class="h-[80px] w-auto" />
    </header>
    <Hero />
    <About />
    <Driver />
    <!-- <Services />
    <Stats />
    <Faqs />  -->
    <Contact />
    <Footer />
  </div>
</Layout>

<style is:global>
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
</style>
