---
import { Image } from "astro:assets";
import about_img_1 from "../assets/images/ernesto-leon-4H_I-HRjkyA-unsplash.jpg";
import about_img_2 from "../assets/images/pat-whelen-NxM3zUWHFoI-unsplash.jpg";
import about_img_3 from "../assets/images/arno-senoner-yqu6tJkSQ_k-unsplash.jpg";
---

<section id="about" class="mt-16">
  <div class="max-w-[1172px] px-4 h-full mx-auto">
    <div class="mb-8">
      <h2 class="text-3xl text-center font-title text-blue-600">About Us</h2>
    </div>
    <div class="flex flex-col flex-wrap justify-center">
      <div class="gsap_3 flex h-[400px] py-6">
        <div class="overflow-hidden relative flex-1 h-full rounded-2xl">
          <Image
            src={about_img_1}
            alt="about image 1"
            class="absolute top-0 left-0 h-[400px] w-full object-cover"
          />
        </div>
        <div class="flex-1">
          <span class="text-xl font-body font-semibold">Safety</span>
        </div>
      </div>
      <div class="gsap_3 flex flex-row-reverse h-96 py-6n">
        <div class="overflow-hidden flex-1 h-full rounded-2xl">
          <Image
            src={about_img_2}
            alt="about image 1"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="flex-1">
          <span class="text-xl font-body font-semibold">Safety</span>
        </div>
      </div>
      <div class="gsap_3 flex h-96 py-6">
        <div class="overflow-hidden flex-1 h-full rounded-2xl">
          <Image
            src={about_img_3}
            alt="about image 1"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="flex-1">
          <span class="text-xl font-body font-semibold">Safety</span>
        </div>
      </div>
    </div>
  </div>
</section>
