---
import { Image } from "astro:assets"
import img from '../assets/images/IMG_3188.JPEG'
---

<section id="about" class="py-24">
  <div class="max-w-[1172px] px-4 h-full mx-auto">
    <h2 class="text-3xl lg:text-4xl text-center font-title text-blue-600 mb-8">
      Welcome to Aravan Cargo Inc.
    </h2>
    <div class="flex flex-col flex-wrap justify-center">
      <div
        class="flex items-center lg:flex-row flex-col lg:pb-0 pb-4"
      >
        <div
          class="overflow-hidden relative flex-1 max-h-[400px] lg:h-[320px] w-full rounded-2xl mx-4"
        >
        <Image
        src={img}
        alt="about image 1"
        class="text-animation text-animation_trigger_1 relative lg:absolute top-0 left-0 h-full w-full object-cover"
      />
        </div>
        <p
          class="text-animation text-animation_trigger_2 flex-1 font-body leading-8 font-medium text-gray-700 mx-4 my-6 text-lg text-justify md:text-xl"
        >
          Aravan Cargo Inc., established in 2016 in Joliet, Illinois, is your
          trusted partner on the journey to vehicle ownership. We have evolved
          into a premier full-service logistics company, servicing all 48
          continental states. Dedicated to delivering dependable service and
          ensuring customer satisfaction, we have assisted numerous drivers in
          transitioning from company drivers to successful fleet
          owner-operators. In fact, a dozen drivers have successfully launched
          their own trucking businesses with our support.
        </p>
      </div>
      <div class="flex items-center lg:flex-row-reverse flex-col">
        <div
          class="overflow-hidden relative flex-1 lg:h-[230px] max-h-[400px] w-full rounded-2xl mx-4"
        >
        <video
        src="/videos/IMG_1237.MP4"
        autoplay
        loop
        muted
        class="w-full object-cover h-full text-animation text-animation_trigger_3"></video>
        </div>
        <p
          class="text-animation text-animation_trigger_4 flex-1 font-body leading-8 font-medium text-gray-700 mx-4 my-6 md:text-xl text-lg text-justify"
        >
          For aspiring truck drivers seeking self-employment, Aravan Cargo Inc.
          is a trusted ally, helping individuals achieve their entrepreneurial
          goals. With our proven expertise, thorough support, and professional
          guidance, we enable trucking professionals to attain financial
          independence in the dynamic transportation industry.
        </p>
      </div>
    </div>
  </div>
</section>

<style is:global>
  .text-animation {
    opacity: 0;
    transform: translateY(20px);
  }
</style>
