<section class="py-20">
  <div class="max-w-[1172px] px-4 h-full mx-auto">
    <div class="text-center mb-16">
      <h3 class="text-3xl lg:text-4xl text-center font-title text-blue-600">
        Get in touch with us
      </h3>
      <p class="text-gray-500 font-body font-thin leading-6 mt-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae
        necessitatibus perspiciatis velit, repellat consequuntur reprehenderit
        repudiandae error minus saepe eius distinctio quidem atque rerum,
        pariatur adipisci doloribus praesentium! Distinctio, eum!
      </p>
    </div>
    <div class="grid lg:grid-cols-2 grid-cols-1">
      <div
        class="col-span-1 flex flex-col justify-center lg:text-left text-center"
      >
        <div class="mb-12">
          <h5
            class="text-xl font-semibold font-title flex lg:justify-start justify-center"
          >
            <i class="fa-solid fa-location-dot"></i>
            <span class="ml-2"> Address </span>
          </h5>
          <p class="font-body leading-6 font-medium text-gray-500 mt-2">
            236 East 21st Street, New York, NY 10010
            <br />
            300 West 21st Street, New York, NY 10010
          </p>
        </div>
        <div class="mb-12">
          <h5
            class="text-xl font-semibold font-title flex lg:justify-start justify-center"
          >
            <i class="fa-solid fa-phone"></i>
            <span class="ml-2"> Phone </span>
          </h5>
          <p class="font-body leading-6 font-medium text-gray-500 mt-2">
            Mobile: 987-654-3210
            <br />
            Office: 123-456-7890
          </p>
        </div>
        <div class="mb-12">
          <h5
            class="text-xl font-semibold font-title flex lg:justify-start justify-center"
          >
            <i class="fa-solid fa-calendar-days"></i>
            <span class="ml-2"> Working time </span>
          </h5>
          <p class="font-body leading-6 font-medium text-gray-500 mt-2">
            Monday - Friday: 9am - 5pm
            <br />
            Saturday: 9am - 1pm
          </p>
        </div>
      </div>
      <div class="col-span-1">
        <form id="contact-form" class="flex flex-col w-full">
          <label class="ml-1 mb-2 font-body font-medium" for="fullname"
            >Fullname</label
          >
          <input
            autocomplete="off"
            class="border-2 rounded-xl px-3 py-4 focus:outline-blue-600 mb-6 font-body font-thin"
            type="text"
            id="fullname"
            name="fullname"
            placeholder="Enter your fullname"
          />
          <label class="ml-1 mb-2 font-body font-medium" for="email"
            >Email</label
          >
          <input
            autocomplete="off"
            class="border-2 rounded-xl px-3 py-4 focus:outline-blue-600 mb-6 font-body font-thin"
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
          />
          <label class="ml-1 mb-2 font-body font-medium" for="subject"
            >Subject</label
          >
          <input
            autocomplete="off"
            class="border-2 rounded-xl px-3 py-4 focus:outline-blue-600 mb-6 font-body font-thin"
            type="text"
            id="subject"
            name="subject"
            placeholder="Enter your subject"
          />
          <label class="ml-1 mb-2 font-body font-medium" for="message"
            >Message</label
          >
          <textarea
            id="message"
            class="border-2 rounded-xl px-3 py-4 focus:outline-blue-600 mb-6 font-body font-thin"
            name="message"
            placeholder="Enter your message"></textarea>
          <input
            type="submit"
            value="Submit"
            class="bg-blue-600 lg:max-w-[50%] text-white px-16 py-4 mt-2 rounded-xl font-medium font-title text-sm duration-150 hover:scale-105"
          />
        </form>
      </div>
    </div>
  </div>
  <script is:inline src="https://smtpjs.com/v3/smtp.js"></script>
  <script is:inline>
    const form = document.getElementById("contact-form");
    form.addEventListener("submit", (e) => {
      const payload = new FormData(e.target);
      Email.send({
        SecureToken: "6058ae95-b33a-48b1-bf01-eb2817f4db31",
        To: "Aravancargo88@gmail.com",
        From: "Aravancargo88@gmail.com",
        Subject: `${payload.get("subject")}`,
        Body: `fullname: ${payload.get("fullname")}\nemail: ${payload.get("email")}\nmessage: ${payload.get("message")}`,
      }).then((message) => {
        alert("Thank you for your message!");
        console.log(message);
        // form.reset();
      });
      e.preventDefault();
    });
  </script>
</section>
