<section class="py-20">
  <div class="max-w-[1172px] px-4 h-full mx-auto">
    <h2 class="text-3xl lg:text-4xl text-center font-title text-blue-600 mb-12">
      FAQs
    </h2>
    <details class="bg-blue-50 p-4 rounded-2xl">
      <summary
        class="cursor-pointer text-xl font-semibold text-blue-500 font-title"
        >Epcot Center</summary
      >
      <p class="duration-300">
        Epcot is a theme park at Walt Disney World Resort featuring exciting
        attractions, international pavilions, award-winning fireworks and
        seasonal special events.
      </p>
    </details>
  </div>
</section>
