<section class="pb-32">
  <div class="max-w-[1172px] px-4 h-full mx-auto">
    <h2 class="text-3xl lg:text-4xl text-center font-title text-blue-600 mb-12">
      FAQs
    </h2>
    <details class="bg-blue-50 p-4 rounded-2xl mb-6">
      <summary
        class="cursor-pointer text-xl font-semibold text-blue-500 font-title"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, amet.
        Maiores, consequatur placeat?
      </summary>
      <p class="font-body leading-6 font-medium text-gray-500 mt-4">
        Epcot is a theme park at Walt Disney World Resort featuring exciting
        attractions, international pavilions, award-winning fireworks and
        seasonal special events.
      </p>
    </details>
    <details class="bg-blue-50 p-4 rounded-2xl mb-6">
      <summary
        class="cursor-pointer text-xl font-semibold text-blue-500 font-title"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex velit vitae
        maxime?
      </summary>
      <p class="font-body leading-6 font-medium text-gray-500 mt-4">
        Epcot is a theme park at Walt Disney World Resort featuring exciting
        attractions, international pavilions, award-winning fireworks and
        seasonal special events.
      </p>
    </details>
    <details class="bg-blue-50 p-4 rounded-2xl">
      <summary
        class="cursor-pointer text-xl font-semibold text-blue-500 font-title"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae at sunt
        id nulla?
      </summary>
      <p class="font-body leading-6 font-medium text-gray-500 mt-4">
        Epcot is a theme park at Walt Disney World Resort featuring exciting
        attractions, international pavilions, award-winning fireworks and
        seasonal special events.
      </p>
    </details>
  </div>
</section>
