---
import { Image } from "astro:assets";
import logo from "../assets/images/logo_nobg.png";
---

<footer class="pt-14 pb-10 bg-blue-50">
  <div class="max-w-[1172px] px-4 h-full mx-auto">
    <div class="flex sm:flex-row flex-col justify-between items-center">
      <Image
        src={logo}
        alt="logo"
        class="h-[80px] w-auto hover:cursor-pointer"
      />
      <nav class="flex-1 max-[800px]:mt-4">
        <ul class="flex flex-wrap max-[800px]:justify-center w-full justify-end">
          <li class="cursor-pointer ml-8 max-[800px]:mb-4 text-xl text-gray-700 font-body duration-150 hover:text-blue-500 relative after:content-* after:absolute after:-bottom-1 after:left-0 after:w-0 after:duration-300 after:h-[2px] after:bg-blue-500 hover:after:w-full">About us</li>
          <li class="cursor-pointer ml-8 max-[800px]:mb-4 text-xl text-gray-700 font-body duration-150 hover:text-blue-500 relative after:content-* after:absolute after:-bottom-1 after:left-0 after:w-0 after:duration-300 after:h-[2px] after:bg-blue-500 hover:after:w-full">Drivers</li>
          <li class="cursor-pointer ml-8 max-[800px]:mb-4 text-xl text-gray-700 font-body duration-150 hover:text-blue-500 relative after:content-* after:absolute after:-bottom-1 after:left-0 after:w-0 after:duration-300 after:h-[2px] after:bg-blue-500 hover:after:w-full">Brokers</li>
          <li class="cursor-pointer ml-8 max-[800px]:mb-4 text-xl text-gray-700 font-body duration-150 hover:text-blue-500 relative after:content-* after:absolute after:-bottom-1 after:left-0 after:w-0 after:duration-300 after:h-[2px] after:bg-blue-500 hover:after:w-full">Team</li>
          <li class="cursor-pointer ml-8 max-[800px]:mb-4 text-xl text-gray-700 font-body duration-150 hover:text-blue-500 relative after:content-* after:absolute after:-bottom-1 after:left-0 after:w-0 after:duration-300 after:h-[2px] after:bg-blue-500 hover:after:w-full">Contacts</li>
        </ul>
      </nav>
    </div>
    <p class="font-body mt-10 font-thin text-left ml-4 sm:text-center max-[800px]:text-center">
      © 2024. All rights reserved
    </p>
  </div>
</footer>
