<section id="hero" class="w-full h-[calc(100vh-100px)]">
  <!-- <div class="relative max-w-[1172px] h-full mx-auto">
    <div
      class="backdrop-blur-sm absolute top-1/2 left-0 -translate-y-1/2 mt-[50px] text-center lg:w-[50%] lg:text-left mx-4 px-12 py-14 rounded-2xl"
    >
      <h1 class="text-5xl font-bold text-blue-600 mb-5 font-title">
        Discover Our <br /> Services
      </h1>
      <p class="font-light font-body text-white leading-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        recusandae maiores, cupiditate facilis voluptate repellendus!
      </p>
      <button
        class="mt-10 bg-blue-600 text-white px-16 py-4 rounded-md font-medium font-title text-sm duration-150 hover:scale-105"
        >Get Started</button
      >
    </div>
  </div> -->
    <video
      src="videos/video.mp4"
      autoplay
      loop
      muted
      class="w-full object-cover h-full"></video>
</section>
