---
import { Image } from "astro:assets";
import heroImage from "../assets/images/rodrigo-abreu-lq9PxpwDZUk-unsplash.jpg";
---

<section id="hero" class="relative h-screen overflow-y-hidden">
  <div id="bg_image" class="absolute top-0 left-0 h-screen w-full -z-10">
    <Image src={heroImage} alt="bg image" class="h-full w-full object-cover" />
  </div>
  <div class="relative max-w-[1172px] h-full mx-auto">
    <div
      class="absolute top-1/2 left-0 -translate-y-1/2 mt-[50px] bg-blue-50 text-center lg:w-[50%] lg:text-left mx-4 px-12 py-14 rounded-2xl"
    >
      <h1 class="text-5xl font-bold text-blue-600 mb-3 font-title">
        Discover Our <br /> Services
      </h1>
      <p class="text-lg font-light font-body text-gray-500 leading-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        recusandae maiores, cupiditate facilis voluptate repellendus!
      </p>
      <button
        class="mt-9 bg-blue-600 text-white px-16 py-4 rounded-md font-medium font-title text-sm"
        >Get Started</button
      >
    </div>
  </div>
</section>
