---

---

<section class="mt-28">
  <div
    class="bg-blue-50 py-20 max-w-[1140px] h-full pl-0 md:pl-4 mx-auto rounded-3xl max-[1140px]:rounded-none"
  >
    <div class="grid md:grid-cols-2 grid-cols-1">
      <div
        class="col-span-1 flex flex-col justify-center items-center text-center mb-12"
      >
        <h3 class="text-3xl lg:text-4xl font-title text-blue-600 mx-8">
          Our Services
        </h3>
        <p
          class="text-gray-500 font-body font-medium leading-6 mt-4 max-w-96 mx-8"
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, aperiam
          itaque. Non optio dicta illo.
        </p>
      </div>
      <div class="col-span-1">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="images/service1.jpg" alt="service 1" />
            </div>
            <div class="swiper-slide">
              <img src="images/service2.jpg" alt="service 1" />
            </div>
            <div class="swiper-slide">
              <img src="images/service3.jpg" alt="service 1" />
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<style scoped>
  .swiper {
    max-width: 600px;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    height: 600px;
    width: 400px;
  }

  .swiper-slide:last-child {
    width: 424px;
  }

  .swiper-slide-active img {
    width: 400px !important;
    height: 600px !important;
  }

  .swiper-slide:not(:last-child) img {
    transition-duration: 300ms;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 550px;
    object-fit: cover;
    border-radius: 18px;
  }

  .swiper-slide:last-child img {
    transition-duration: 300ms;
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 16px);
    transform: translateX(-50%);
    width: 350px;
    height: 550px;
    object-fit: cover;
    border-radius: 18px;
  }

  @media (max-width: 1000px) {
    .swiper-slide {
      height: 500px;
      width: 300px;
    }

    .swiper-slide:last-child {
      width: 324px;
    }

    .swiper-slide-active img {
      width: 300px !important;
      height: 500px !important;
    }

    .swiper-slide:not(:last-child) img {
      transition-duration: 300ms;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 250px;
      height: 450px;
      object-fit: cover;
      border-radius: 18px;
    }

    .swiper-slide:last-child img {
      transition-duration: 300ms;
      display: block;
      position: absolute;
      top: 0;
      left: calc(50% - 16px);
      transform: translateX(-50%);
      width: 250px;
      height: 450px;
      object-fit: cover;
      border-radius: 18px;
    }
  }

  @media (max-width: 765px) {
    .swiper-slide {
      height: 600px;
      width: 400px;
    }

    .swiper-slide:last-child {
      width: 424px;
    }

    .swiper-slide-active img {
      width: 400px !important;
      height: 600px !important;
    }

    .swiper-slide:not(:last-child) img {
      transition-duration: 300ms;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 350px;
      height: 550px;
      object-fit: cover;
      border-radius: 18px;
    }

    .swiper-slide:last-child img {
      transition-duration: 300ms;
      display: block;
      position: absolute;
      top: 0;
      left: calc(50% - 16px);
      transform: translateX(-50%);
      width: 350px;
      height: 550px;
      object-fit: cover;
      border-radius: 18px;
    }
  }
</style>
