<section class="bg-blue-50 py-20">
  <div class="max-w-[1172px] px-4 h-full mx-auto">
    <div class="grid grid-cols-5">
      <div class="col-span-2">
        <h3 class="text-3xl lg:text-4xl font-title text-blue-600">
          Our Services
        </h3>
        <p class="text-gray-500 font-body font-medium leading-6 mt-4 text-lg">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, aperiam
          itaque. Non optio dicta illo.
        </p>
      </div>
      <div class="col-span-3">asdf</div>
    </div>
  </div>
</section>
