<section class="pt-32">
  <div class="max-w-[1172px] px-4 h-full mx-auto">
    <h2 class="text-3xl lg:text-4xl text-center font-title text-blue-600 mb-12">
      Stats
    </h2>
    <div class="flex flex-wrap justify-around items-center gap-4">
      <div
        class="bg-blue-50 rounded-2xl min-w-[320px] max-w-[320px] p-10 flex-1"
      >
        <div class="bg-blue-50">asdf</div>
      </div>
      <div
        class="bg-blue-50 rounded-2xl min-w-[320px] max-w-[320px] p-10 flex-1"
      >
        <div class="bg-blue-50">dfghgfhj</div>
      </div>
      <div
        class="bg-blue-50 rounded-2xl min-w-[320px] max-w-[320px] p-10 flex-1"
      >
        <div class="bg-blue-50">erty</div>
      </div>
    </div>
  </div>
</section>
